DATABASE_URL="postgresql://user:password@localhost:5432/tomveijk_portfolio?schema=public"
NEXTAUTH_SECRET="your-secret-key-here-generate-with-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"
ADMIN_EMAIL="info@tomveijk.nl"
ADMIN_PASSWORD="your-secure-password"
